
#stage{
background-image: url("images/css_animation_exercise_stage.png");
width: 600px;
height: 600px;
background-repeat: no-repeat;
background-position: center;
margin: auto;
position: relative;
}
#hero{
border: 1px dashed red;
height: 75px;
width: 75px;
margin: 4%;
position: absolute; /* si aucune position indiquée, l'animation ne fonctionne pas*/
}
@keyframes line {
  0%  { left: 0; top: 0; transform: none;}
 29% { left: 470px; top: 0; transform: none;}
 41% { left: 470px; top: 200px; transform: none;}
 44%, 56% { left: 200px; top:200px ; transform: rotate(45deg); border-color:red; border-color: red; border-style: dashed; height: 75px; width: 75px; background: none;border-radius: 0px;;}
 70% {left:0px; top:200px; transform: rotate(90deg); border-color: #0900BD; border-radius: 0px;}
 71% {left:0px; top:200px; transform: rotate(90deg); border-color: #0900BD; border-radius: 0px;}
 100%{ left: 418px; top: 415px;border-radius: 100%; border-color:#FBDA61; border-style: solid; height:150px; width:150px; background: -webkit-radial-gradient(#F76B1C, #FBDA61);}
}
div #hero { animation: line 17s linear infinite;
}
